body {
  background-color: #3A3A39;
  font-family: Helvetica;
  color: #333;
  text-align: center;
  margin: 0px;
  font-size: 18px;
}

.THEBOX {
  background-color: whitesmoke;
  padding: 20px;
  width: 500px;
  height: 100%;
  /*  margin-left: 33%;*/
  border-radius: 2px;
  margin-top: 150px;
  display: inline-block;
  text-align: center;
  /*  min-width: 100%;*/
}

.header {
  background-color: whitesmoke;
  padding: 20px;
  color: black;
}

.header:hover {
  /*-webkit-filter: invert(100%);*/
  background-color:#3A3A39;
  color:whitesmoke; 
}

.header:hover ~ .THEBOX {background:rgb(250, 234, 119);}

.header h1 {
  color: rgb(250, 234, 119);
}



h1 {
  font-size: 3em;
  
}

.review_box {
  background-color: white;
  border-radius: 4px;

}

.logo {
  width: 250px;
}

.banana {
  height: 40px;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
 .THEBOX {
  margin-left: 20%;
} 
.banana {
  height: 30px
}
body {
  font-size: 12px;
}
}

@media screen and (max-width: 600px) {
 .THEBOX {
  margin-left: 5%;
} 
.banana {
  height: 20px
}
body {
  font-size: 8px;
}
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}