body {
  background-color: #F8FFC4;
  font-family: Helvetica;
  color: #620CE8;
  text-align: center;
  margin: 0px;
}

.THEBOX {
  background-color: #0DBFFF;
  padding: 20px;
  width: 500px;
  height: 100%;
/*  margin-left: 33%;*/
  border-radius: 5px;
  margin-top: 150px;
  display: inline-block;
  text-align: center;
/*  min-width: 100%;*/
}

.header {
  background-color: #0DBFFF;
  padding: 20px;
  }

.review_box {
  background-color: white;
  border-radius: 4px;

}

.logo {
  width: 250px;
}

  @media screen and (max-width: 1000px) {
   .THEBOX {
    margin-left: 20%;
   } 
  }

  @media screen and (max-width: 600px) {
   .THEBOX {
    margin-left: 5%;
   } 
  }

  ul {
        list-style-type: none;
  }

  li {
    display: inline;
  }