<h2>Reviews thus far</h2>
<% @reviews.each do |review| %>
<div>
  <%= review.film.title %>: <%= review.film.director %>
  <p><%= review.comment %></p>
</div>
<% end %>

<%#= link_to 'List of films', films_path %> 
